body {
  margin: 0;
}

main {
  margin: 12px 24px;
}

header {
  display: flex;
  padding: 6px 16px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.15);
}

.preview-img {
  cursor: pointer;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.15);
}

.MuiSlider-thumb {
  z-index: 999;
}

.MuiDataGrid-virtualScroller {
  min-height: 300px;
}
